{% extends "base.html" %}
{% block content %}

{% if basket == 'Корзина пуста!' %}
    <h3>{{ basket }}</h3>
{% else %}
<div class="container">
    <div class="row row-cols-5">
        <div class="col-2">id</div>
        <div class="col-3">Название</div>
        <div class="col-2">Сумма</div>
        <div class="col-2">Колич.</div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-5 border">
    {% for b in basket %}
        <div class="col-2">{{ b.part.part_number }}</div>
        <div class="col-3">{{ b.part.description }}</div>
        <div class="col-2">{{ b.part.price * b.amount }}</div>
        <div class="col-2">{{ b.amount }}</div>
        <div class="col-3"><a href="{{ url_for('main.deleteFromBasket', order_id=b.order_id, part_id=b.part_id) }}">Удалить</a></div>
    {% endfor %}
    </div>
</div>

<br>
<h3>Введите адрес доставки</h3>
<div class="col-lg-6">

    <form action="" method="POST" novalidate>
        <div class="form-floating mb-3">

            {% if form.address.errors %}

                {% for error in form.address.errors %}
                <div class="form-floating">
                    {{ form.email(class="form-control is-invalid", id="floatingInputInvalid", placeholder="Адрес") }}
                    <label for="floatingInputInvalid">{{ error }}</label>
                </div>                
                {% endfor %}

            {% else %}

            {{ form.address(class="form-control", id="floatingInput", placeholder="Адрес") }}
            {{ form.address.label(for="floatingInput") }}
                
            {% endif %}
          </div>
          <button type="submit" class="btn btn-primary">Оформить заказ</button>

    </form>
{% endif %}
{% endblock %}