{% extends "base.html" %}
{% block content %}
<h1>Выберите необходимую схему!</h1>

{% set part = parts[0] %}
<i>
    <a href="{{ url_for('main.index') }}">Бренд:</a> {{ part.brand.brand_name }}/
    <a href="{{ url_for('main.type', brand_id=part.brand_id, brand_name=part.brand.brand_name) }}">Тип:</a> {{ part.type.type_name }}/
    <a href="{{ url_for('main.model', brand_id=part.brand_id, brand_name=part.brand.brand_name, type_id=part.type_id) }}">Модель:</a> {{ part.model.model_name }}
</i><br><br>

{% for part in parts %}
<a href="{{ url_for('main.part', brand_name=part.brand.brand_name,
                            brand_id=part.brand_id,
                            type_id=part.type_id,
                            model_name=part.model.model_name,
                            model_id=part.model_id,
                            element_id=part.element_id,
                            element_name=part.element.element_name) }}">{{ part.element.element_name }}</a><br>
{% endfor %}
{% endblock %}




