{% extends "base.html" %}
{% block content %}
<h1>Добавьте интересующую вас деталь в корзину!</h1>

{% set part = parts[0] %}
    <i>
        <a href="{{ url_for('main.index') }}">Бренд:</a> {{ part.model.brand.brand_name }}/

        <a href="{{ url_for('main.type', brand_id=part.model.brand_id, brand_name=part.model.brand.brand_name) }}">
            Тип:</a> {{ part.model.type.type_name }}/

        <a href="{{ url_for('main.model', brand_id=part.model.brand_id, brand_name=part.model.brand.brand_name, type_id=part.model.type_id) }}">
            Модель:</a> {{ part.model.model_name }}/

        <a href="{{ url_for('main.element', brand_name=part.model.brand.brand_name, brand_id=part.model.brand_id, type_id=part.model.type_id, model_name=part.model.model_name, model_id=part.model_id) }}">
            Схема:</a> {{ part.element.element_name }}
    </i>
    <br><br>

<img src="{{ url_for('static', filename=image) }}" width="700" height="500" alt="Тут картинка"><br>
{% for part in parts %}
    {{ part.description }}
    {% if part.amount > 0 %}
        В наличии!
    {% else %}
        Нет в наличии!
    {% endif %}
    Цена {{ part.price }}, $
    <a href="{{ url_for('main.addToBasket', part_id=part.id) }}">Добавить в корзину</a>
<br>

{% endfor %}
{% endblock %}