{% extends "base.html" %}
{% block content %}
<h3 class="text-center">Добавьте необходимую деталь в корзину!</h3>

{% set part = parts[0] %}
    <i>
        <a href="{{ url_for('main.index') }}">Бренд:</a> {{ part.model.brand.brand_name }}/

        <a href="{{ url_for('main.type', brand_id=part.model.brand_id, brand_name=part.model.brand.brand_name) }}">
            Тип:</a> {{ part.model.type.type_name }}/

        <a href="{{ url_for('main.model', brand_id=part.model.brand_id, brand_name=part.model.brand.brand_name, type_id=part.model.type_id) }}">
            Модель:</a> {{ part.model.model_name }}/

        <a href="{{ url_for('main.element', brand_name=part.model.brand.brand_name, brand_id=part.model.brand_id, type_id=part.model.type_id, model_name=part.model.model_name, model_id=part.model_id) }}">
            Схема:</a> {{ part.element.element_name }}
    </i>
    <br><br>

<div class="row">
    <div class="col-sm-5">
        <img src="{{ url_for('static', filename=image) }}" class="img-fluid rounded-2" alt="Тут картинка">
    </div>
    <div class="col-sm-7">
        <div class="row text-center">
            <div class="col-4 col-lg-7 border">
                Название
            </div>
            <div class="col-4 col-lg-2 border">
                Цена
            </div>
            <div class="col-4 col-lg-3">
            </div>
        </div>    
            {% for part in parts %}
            <div class="row">
                <div class="col-4 col-lg-7 border text-left">
                    {{ part.description }}
                </div>
                <div class="col-4 col-lg-2 border text-center">
                    {{ part.price }}, $
                </div>
                <div class="col-4 col-lg-3 text-left">
                    <a href="{{ url_for('main.addToBasket', part_id=part.id) }}">
                        <button type="button" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"></path>
                            </svg>
                            В корзину
                        </button>
                        
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}



