{% extends "base.html" %}
{% block content %}
<h3 class="text-center">Добавьте необходимую деталь в корзину!</h3>

{% set part = parts[0] %}
    <i>
        <a href="{{ url_for('main.index') }}">Бренд:</a> {{ part.model.brand.brand_name }}/

        <a href="{{ url_for('main.type', brand_id=part.model.brand_id, brand_name=part.model.brand.brand_name) }}">
            Тип:</a> {{ part.model.type.type_name }}/

        <a href="{{ url_for('main.model', brand_id=part.model.brand_id, brand_name=part.model.brand.brand_name, type_id=part.model.type_id) }}">
            Модель:</a> {{ part.model.model_name }}/

        <a href="{{ url_for('main.element', brand_name=part.model.brand.brand_name, brand_id=part.model.brand_id, type_id=part.model.type_id, model_name=part.model.model_name, model_id=part.model_id) }}">
            Схема:</a> {{ part.element.element_name }}
    </i>
    <br><br>

<div class="cobtainer-fluid">
    <div class="row">
        <div class="col-sm-5">
            <img src="{{ url_for('static', filename=image) }}" class="img-fluid rounded-2" alt="Тут картинка">
        </div>
        <div class="col">
            <div class="row text-center">
                <div class="col-6">
                    Название
                </div>
                <div class="col-4">
                    Цена, $
                </div>
                <div class="col-3">
                </div>
            </div>
                {% for part in parts %}
                <div class="row">
                    <div class="col-6 border text-left">
                        {{ part.description }}
                    </div>
                    <div class="col-4 border text-center">
                        {{ part.price }}
                    </div>
                    <div class="col-2 text-left">
                        <a href="{{ url_for('main.addToBasket', part_id=part.id) }}">
    
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                              </svg>
    
                        </a>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>



    {% endblock %}



