{% extends "base.html" %}

{% block content %}
{% if current_user.is_anonymous %}
    <h1>Добро пожаловать в наш каталог! </h1> <br>
    <h3>Запчасти для какого бренда вас интересуют?</h3>
{% else %}
    <h1>Добро пожаловать в наш каталог, {{ current_user.name }}1!!</h1>
<h3>Запчасти для какого бренда вас интересуют?</h3>
{% endif %}

{% for brand in brands %}
    <a href="{{ url_for('type', brand_id=brand.brand_id, brand_name=brand.brand.brand_name) }}">{{ brand.brand.brand_name }}</a>
{% endfor %}

{% endblock %}